table{
    width:100%;
}

@media screen and (max-width: 334px) {
    .mat-elevation-z8{
        overflow-x: scroll;
    }
  }


  .mat-sort-header-container {
    align-items: center;
  }

  button{
    float: right;
    margin: 10px;
  }

  .topbar{
      margin:10px;
  }

  


