<div class="topbar">
    <h3>Airline List</h3> 
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search by value">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="downloadExcel()">download</button>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

        <!-- Position Column -->
        <ng-container matColumnDef="TIME">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="time"> TIME </th>
            <td mat-cell *matCellDef="let element"> {{element.time | date:'yyyy MMM d h:mm:ss a'}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="AIRLINE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="airline"> AIRLINE </th>
            <td mat-cell *matCellDef="let element"> {{element.airline}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="FLIGHT_NUMBER">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="flight_number"> FLIGHT_NUMBER </th>
            <td mat-cell *matCellDef="let element"> {{element.flight_number}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="TRANSACTION">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="transaction"> TRANSACTION </th>
            <td mat-cell *matCellDef="let element"> {{element.transaction}} </td>
        </ng-container>

        <ng-container matColumnDef="TERMINAL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="terminal"> TERMINAL </th>
            <td mat-cell *matCellDef="let element"> {{element.terminal}} </td>
        </ng-container>

        <ng-container matColumnDef="GATE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="gate"> GATE </th>
            <td mat-cell *matCellDef="let element"> {{element.gate}} </td>
        </ng-container>

        <ng-container matColumnDef="REMARK">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="remark"> REMARK </th>
            <td mat-cell *matCellDef="let element"> {{element.remark?element.remark:''}} </td>
        </ng-container>

        <ng-container matColumnDef="ACTION">
            <th mat-header-cell *matHeaderCellDef> ACTION </th>
            <td mat-cell *matCellDef="let element" (click)="update(element)"> UPDATE </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<button class="chart" mat-raised-button color="primary" (click)="showChart()">show chart</button>
