form {
    margin :20px;
}

button{
    height: 35px;
}

.datepicker{
    margin-top: 15px;
}

@media screen and (max-width: 985px) {
    .mat-elevation-z8{
        overflow-x: scroll;
    }
    .datepicker{
        margin-bottom: 10px;
    
    }
  }