
<form class="row" [formGroup]="addFlight" (ngSubmit)="Submit()">
    <mat-form-field class="col-lg-3">
        <mat-label>terminal</mat-label>
        <input matInput  formControlName="terminal" >
    </mat-form-field>

    <mat-form-field class="col-lg-3">
        <mat-label>airline</mat-label>
        <input matInput  formControlName="airline">
    </mat-form-field>

    <mat-form-field class="col-lg-3">
        <mat-label>flight number</mat-label>
        <input matInput  formControlName="flight_number">
    </mat-form-field>

    <mat-form-field class="col-lg-3">
        <mat-label>transaction</mat-label>
        <input matInput  formControlName="transaction">
    </mat-form-field>

    <mat-form-field class="col-lg-3" >
        <mat-label>gate</mat-label>
        <input matInput  formControlName="gate">
    </mat-form-field>

    <mat-form-field class="col-lg-3">
        <mat-label>remark</mat-label>
        <input matInput  formControlName="remark">
    </mat-form-field>
    <div class="col-lg-3 datepicker">
        <input [min]="min" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time" formControlName="time">
        <owl-date-time #dt1></owl-date-time>
    </div>

    <button class="col-lg-3" mat-raised-button color="primary" >Submit</button>
</form>
