
<form class="row" [formGroup]="updateFlight" (ngSubmit)="Submit()">
    <mat-form-field class="col-lg-3">
        <mat-label>terminal</mat-label>
        <input matInput  formControlName="terminal" [(ngModel)]="data.terminal" name="terminal">
    </mat-form-field>

    <mat-form-field class="col-lg-3">
        <mat-label>airline</mat-label>
        <input matInput  formControlName="airline" [(ngModel)]="data.airline" name="airline">
    </mat-form-field>

    <mat-form-field class="col-lg-3">
        <mat-label>flight number</mat-label>
        <input matInput  formControlName="flight_number" [(ngModel)]="data.flight_number" name="flight_number">
    </mat-form-field>

    <mat-form-field class="col-lg-3">
        <mat-label>transaction</mat-label>
        <input matInput   formControlName="transaction" [(ngModel)]="data.transaction" name="transaction">
    </mat-form-field>

    <mat-form-field class="col-lg-3" >
        <mat-label>gate</mat-label>
        <input matInput  formControlName="gate" [(ngModel)]="data.gate" name="gate">
    </mat-form-field>

    <mat-form-field class="col-lg-3">
        <mat-label>remark</mat-label>
        <input matInput  formControlName="remark" [(ngModel)]="data.remark" name="remark">
    </mat-form-field>
    <div class="col-lg-3 datepicker">
        <input [min]="min" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time" formControlName="time" [(ngModel)]="data.time" name="time">
        <owl-date-time #dt1></owl-date-time>
    </div>

    <button class="col-lg-3" mat-raised-button color="primary">Submit</button>
</form>
